$header-background: #004080;
$background-button-card: bisque;
$background-airport-card: rgb(174, 172, 170);
$color-airport-card: black;
$yellow-text-card: #fdd506;
$green-text-card: #37ff06;
$white-color: #ffffff;
$black-color: #000000;
